<div
	class="flex-0 flex flex-col w-full bg-base-300 h-full px-10 py-10 justify-between">
	<div class="flex flex-col gap-5">
		<h2 class="font-bold text-4xl mx-5">DeepEye</h2>
		<div class="flex flex-col gap-2">
			<label for="input">Búsqueda</label>
			<input
				type="text"
				placeholder="Escribe algo"
				class="input input-bordered w-full max-w-xs"
			/>
		</div>
	</div>
	<div class="flex flex-col items-center">
		<button class="btn btn-primary w-full">Buscar</button>
	</div>
</div>
