<section
	class="mx-auto max-w-2xl p-4 rounded-lg text-center flex flex-col items-center gap-5 justify-center w-screen h-screen">
	<h1 class="text-7xl font-bold">DeepEye</h1>
	<p class="text-lg">
		Adentrate al mundo de la ciberseguridad y olvida tus limitaciones con la
		ayuda de Shodan.
	</p>
	<a href="/dashboard" class="btn btn-primary">Comenzar!</a>
</section>
