---
import Layout from "../layouts/Layout.astro";
import Barra_lateral from "../components/Barra_lateral.astro";
import Cuerpo from "../components/Cuerpo.astro";
---

<Layout>
	<main class="flex flex-row justify-center items-center h-screen">
		<Barra_lateral />
		<Cuerpo />
	</main>
</Layout>
